.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    margin: 0 50px -50px;
}

.logo {
    flex: 1;
    max-width: 190px;
    margin-top: -50px;
    cursor: pointer;
}

.search-bar {
    max-width: 1000px;
    margin-left: 20px;
    margin-right: 20px;
}

.theme-btn {
    display: inline-block;
    width: 60px;
    height: 60px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    position: relative;
    text-align: center;
    line-height: 40px;
}

.theme-btn::after {
    content: "";
    background-image: url('../assets/sun.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}